* {
  transition: .4s ease-in-out;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh; /* Make the content fill the page so the footer is at the bottom */
  display: flex;
  flex-direction: column;
  font-size: 32px;
  background-color: var(--body-background);
  color: var(--body-text-colour);
}

main {
  height: 100%;
  justify-content: center;
  margin: 0 auto; /* Center if the browser is really wide */
  min-width: 25rem; /* Don't let the content get too narrow */
  max-width: 70rem; /*  Don't let the content get too wide */
  padding: 0;
}

section {
  width: 95%;
  text-align: center;
  padding: 2.5% 2.5%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* Add your CSS here */



/* Animations */

@keyframes appear {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.fade-in {
  opacity: 1;
  animation: appear 2s ease;
}

@keyframes grow {
from {
    transform: scale(0);
    opacity: 0;
}
to {
    transform: scale(1);
    opacity: 1;
}
}

.grow-in {
  opacity: 1;
  animation: grow 2s ease;
}

@keyframes rise {
from {
    transform: translateY(20%);
    opacity: 0;
}
to {
    transform: translateY(-70%);
    opacity: 1;
}
}

.rise-in {
  opacity: 1;
  transform: translateY(-70%);
  animation: rise 2s ease;
}

@keyframes slide-in-left {
from {
    transform: translatex(-70%);
    opacity: 0;
}
to {
    transform: translateX(0%);
    opacity: 1;
}
}

.slide-left {
  opacity: 1;
  animation: slide-in-left 2s ease;
}

@keyframes slide-in-right {
from {
    transform: translatex(70%);
    opacity: 0;
}
to {
    transform: translateX(0%);
    opacity: 1;
}
}

.slide-right {
  opacity: 1;
  animation: slide-in-right 2s ease;
}